language: python
python:
    - "2.7"
    - "3.2"
    - "3.3"
    - "3.4"
env:
    - DJANGO="Django>=1.7,<1.8"
    - DJANGO="Django>=1.8,<1.9"
    - DJANGO="Django>=1.9,<1.10"
    - DJANGO="Django>=1.10,<1.11"
    - DJANGO=https://github.com/django/django/archive/master.tar.gz

matrix:
  exclude:
  - python: "3.2"
    env: DJANGO="Django>=1.9,<1.10"
  - python: "3.3"
    env: DJANGO="Django>=1.9,<1.10"
  - python: "3.2"
    env: DJANGO="Django>=1.10,<1.11"
  - python: "3.3"
    env: DJANGO="Django>=1.10,<1.11"
  - python: "3.2"
    env: DJANGO=https://github.com/django/django/archive/master.tar.gz
  - python: "3.3"
    env: DJANGO=https://github.com/django/django/archive/master.tar.gz
  allow_failures:
  - python: "2.7"
    env: DJANGO=https://github.com/django/django/archive/master.tar.gz
  - python: "3.4"
    env: DJANGO=https://github.com/django/django/archive/master.tar.gz

install:
    - pip install --pre $DJANGO
script: python setup.py test
